# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-VSCode
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
.eggs/
*.egg
*.manifest
*.spec

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Model weights
*.pt
*.pth
*.onnx
*.engine

# Training outputs
runs/

# Jupyter Notebook
.ipynb_checkpoints/
